/* Bo's jank ass css */
*{
	margin: 0;
	padding: 0;
}
html, body {
    height: 100%;
	overflow: hidden;
}

.Box{
	padding: 0;
	height: 100%;
	width: 100%;
	display: inline-block;
}
.Top{
	position: absolute;
	margin: 0;
	padding: 0;
}
.Diagonal{
	height: 100%;
	width: 100%;
}
.Bottom{
	transform: skewX(-63deg);
	margin-left: 1350px;
	padding-top: 650px;
	background-color: black;
}

.Red{
	background-color: red;
}
.Blue{
	background-color: blue;
}
.Bottom h1{
	margin-left: 0;
	padding-top: 600px;
	text-align: left;
	transform: skewX(63deg);
	color: white;
}
.Bottom h2{


	padding-bottom: 50px;
	padding-left: 70px;
	transform: skewX(63deg);
	color: white;
}